@charset "utf-8";
/* CSS Document */
/* index for desktop site demo 1  by haikent kumar hitesh */
.mycollegeday_index
{
	width:100%;
	height:100%;
	background-color:#CCC;
}

.m_index_head
{
width:100%;
height:auto;
background-color:#33F;	
	
}
.sitelogo
{ 
   position:relative;
	top:2%;
	left:1%;
	alignment-adjust:middle;
	 width:5%;
	 height:6%;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
